<div class = "row">
  <div class="col-md-6">
    <h2>
      Pokedex
    </h2>
    <span>
      In the current PokemonGo version, you can catch 
    </span>
  </div>
</div>


<div class="container" id="pokedex_container">

  <!-- POKEMON CARDS -->
  <div class="row" ng-repeat="family in pokemonFamiliesArray">

    <div class="col-md-4" ng-repeat="pokemon in family">
      <div class="pokemon_card">
        <div class="row">
          <!-- image -->
          <div class="pokemon_image col-md-4">
            <img src="{{ pokemon.img }}" />
          </div>

          <!-- name, size and date -->
          <div class="pokemon_info col-md-8">
            <div class="pokemon_info">
              <div class="pokemon_name">{{ pokemon.name }}</div>
              <div class="pokemon_type">{{ pokemon.type}}</div>
              <div class="pokemon_candy">{{ pokemon.candy !== "None" ? pokemon.candy : "Do not evolve"}}</div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
