<div class = "row">
  <div class="col-md-6">
    <h2>
      Pokemons
    </h2>
  </div>
</div>


<div class="container" id="pokemons_container">

  <div ng-repeat="family in pokemonByFamily">
    <!-- FAMILY HEADER -->
    <div class="row family">
      <!-- image -->
      <div class="family_image col-md-1">
        <img src="{{ family[0].img }}" />
      </div>

      <!-- name and type -->
      <div class="family_info col-md-4">
        <div class="family_name">{{ family[0].name }}</div>
        <div class="family_type">{{ family[0].type }}</div>
        <div class="family_count">{{ family.length }} pokemons</div>
      </div>

      <!-- stardust and candies -->
      <div class="family_store col-md-3">
        <div class="family_stardust">???</div>
        <div class="family_candy">{{ family[0].candy.count }} {{ family[0].candy.name }}</div>
      </div>

      <!-- evolution -->
      <div class="family_evolution col-md-3" ng-hide="{{ family[0].evolve }} | isEmpty">
        <div class="family_name">???</div>
        <div class="family_candy">{{ family[0].evolve.needed_candies }}</div>
      </div>
    </div>

      <!-- POKEMON CARDS -->
    <div class="row family_pokemon_list">
      <div class="col-md-4" ng-repeat="pokemon in family">
        <div class="pokemon_card">
          <div class="row">
            <!-- image -->
            <div class="pokemon_image col-md-2">
              <img src="{{ pokemon.img }}" />
            </div>

            <!-- name, size and date -->
            <div class="pokemon_info col-md-8">
              <div class="pokemon_name">{{ pokemon.name }} - {{ pokemon.nickname }}</div>
              <div class="pokemon_size">{{ pokemon.height | number: 2}}m - {{ pokemon.weight | number: 2}}kg</div>
              <div class="pokemon_date">23/07/2016 ?</div>
            </div>
          </div>

          <div class="row pokemon_fight">
              <div class="pokemon_cp col-md-4">cp: {{ pokemon.cp }}</div>
              <div class="pokemon_stamina col-md-4">stamina: {{ pokemon.stamina }} / {{ pokemon.stamina_max }}</div>
              <div class="pokemon_attacks col-md-4">attacks: ? / ?</div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
