<div class = "row">
  <div class="col-md-12">
    <h2>
      Pokedex
    </h2>
    <span>
      In the current PokemonGo version, you can catch <b>{{pokemonsCount}} pokemons</b> gathered in
      <b>{{familiesCount}} families</b>.
    </span>
  </div>
</div>


<div class="container" id="pokedex_container">

  <!-- POKEMON CARDS -->
  <div class="row" ng-repeat="family in pokemonFamiliesArray">

    <div class="col-md-4" ng-repeat="pokemon in family">
      <div class="pokemon_card">
        <div class="row">
          <!-- image -->
          <div class="pokemon_image col-md-4">
            <img src="{{ pokemon.img }}" />
          </div>

          <!-- name, size and date -->
          <div class="pokemon_info col-md-8">
            <div class="pokemon_info">
              <div class="pokemon_name">{{ pokemon.name }}</div>
              <div class="pokemon_type">{{ pokemon.type}}</div>
              <div class="pokemon_candy">{{ pokemon.candy !== "None" ? pokemon.candy : "Do not evolve"}}</div>
              <div class="pokemon_in_inventory" ng-class="pokemon.in_inventory ? 'caught' : 'not-caught'">
                {{ pokemon.in_inventory === true ? "You caught it!" : "Find it!"}}
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
